.input-group {
  margin: 20px 0px;
}
td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  margin-top: 30px;
  height: 200px;
  width: 280px;;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 200px;
}

tbody:hover {
  cursor: pointer;
}
thead {
  background-color: #337ab7;
  color: white;
  border-radius: 5px;
}
.alert {
  width: 40%; 
  text-align: center;
}
